<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= "<meta name=\"description\" content=\"#{current_page.data.description}\">" if current_page.data.description %>

    <link href="favicon.gif" rel="shortcut icon">

    <title><%= current_page.data.title.present? ? "Bucky Box - #{current_page.data.title}" : "Bucky Box" %></title>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400" %>
    <%= stylesheet_link_tag "all" %>

    <% pages.each do |page| %><link rel="prefetch" href="<%= page.url %>" /><% end %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

    <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.0.min.js" %>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min-910066fb.js"><\/script>')</script>
    <%= javascript_include_tag "https://#{data.settings.sign_up_wizard_host}/assets/sign_up_wizard.js", async: "async" %>
    <%= javascript_include_tag "all" %>
  </body>
</html>
<!--[if false]>
  You found the bonus level! Looking for a dream job? Email <ced+bonuslevel AT buckybox D0T com>.
<![endif]-->
