---
title: Company History and Timeline
---

.container.text-center
  = partial "about_nav_bar"

  .row.voffset
    .col-md-8.col-md-offset-2
      %h3 We started Bucky Box to make it easy to run a successful local food delivery business.

  .row.voffset
    .col-md-8.col-md-offset-2
      Since 2012 Bucky Box has powered all manner of local food deliveries including vegetable box schemes, artisan breadmakers, community supported agriculture farming, food co-operatives, and recipe bag subscriptions.
      And everyday we're working hard to support more types of operations.

  .row.voffset
    .col-md-12.timeline
      :ruby
        def about_image(image)
          image = "about/#{image}.png"
          css_path = File.join(images_dir, image)

          "background-image:url('#{css_path}')"
        end

      - content_for(:event) do |params|
        .row.event
          - if params.fetch(:position) == :right
            .col-md-6.col-md-offset-6{style: "margin-top: #{params.fetch(:vertical_offset)}em"}
              .row
                .col-sm-4.visible-sm.image{style: about_image(params.fetch(:image)), class: params[:extra_class]}
                .col-xs-12.col-sm-8.text-left.text
                  %h5.month= params.fetch(:month)
                  %h4= params.fetch(:title)
                  %p.description= params.fetch(:description)
                .col-sm-4.hidden-sm.hidden-xs.image{style: about_image(params.fetch(:image)), class: params[:extra_class]}
          - else
            .col-md-6{style: "margin-top: #{params.fetch(:vertical_offset)}em"}
              .row
                .col-sm-4.hidden-xs.image{style: about_image(params.fetch(:image)), class: params[:extra_class]}
                .col-xs-12.col-sm-8.text-left.text
                  %h5.month.text-right= params.fetch(:month)
                  %h4= params.fetch(:title)
                  %p.description= params.fetch(:description)

      .row
        %h3.year 2011

      = yield_content :event,
        position: :right,
        vertical_offset: 0,
        extra_class: "taller",
        title: "The Prototype",
        month: "April",
        image: "2011-prototype",
        description: "Will Lau, fresh from helping his friends start a food hub, discovers a complete lack of helpful software. To get the job done he hacks together a quick solution and codenames it “Bucky Box”, paying special homage to Buckminster Fuller. The experience triggers a ongoing conversation about providing Bucky Box in a more scaleable way to local food communities worldwide."

      = yield_content :event,
        position: :left,
        vertical_offset: -6,
        extra_class: "taller",
        title: "Starting Up",
        month: "August",
        image: "2011-startingup",
        description: "The idea gains enough interest to attract an early team. An initial funding round of $30k and a small government grant is enough to kick off the project. Bucky Box is incorporated and as people come in and out of the project, the momentum builds. Within the next year Bucky Box raises a total of $250k in seed funding to develop the software through to a product launch."

      .row
        %h3.year 2012

      = yield_content :event,
        position: :right,
        vertical_offset: 0,
        extra_class: "tall",
        title: "Bucky Box visits India",
        month: "April",
        image: "2012-india",
        description: "As the learning journey intensifies, Bucky Box sends a team to India to study the food system in a country far removed from Western norms. The team bring back insights, both global and local, but even more telling is a soulful long-term vision that would sustain the venture for many years ahead."

      = yield_content :event,
        position: :left,
        vertical_offset: -6,
        extra_class: "tall",
        title: "Private Testing",
        month: "May",
        image: "2012-private-testing",
        description: "As the Bucky Box app takes shape in its earliest form, beta testing begins immediately for maximum feedback. The private beta program starts with two box schemes - one in Australia and one in New Zealand before expanding to more operations later in the year."

      = yield_content :event,
        position: :right,
        vertical_offset: -6,
        extra_class: "tall",
        title: "Bucky Box wins R&amp;D Grant",
        month: "August",
        image: "2012-research-and-development",
        description: "Callaghan, the technology funding arm of the NZ government, awards Bucky Box with a $95k grant to delve into innovative ways to make a complex business system simple to use. The work continues to pay dividends with our customers for the years ahead."

      .row
        %h3.year 2013

      = yield_content :event,
        position: :left,
        vertical_offset: 0,
        title: "Public Launch",
        month: "January",
        image: "2013-launch",
        description: "After a year of development and private testing Bucky Box is made publicly available worldwide with immediate adoption in New Zealand, Australia and the United Kingdom."

      = yield_content :event,
        position: :right,
        vertical_offset: -8,
        title: "Local Food Challenge",
        month: "February",
        image: "2013-startup-challenge",
        description: "Bucky Box opens the $500k local food startup challenge to support the creation of new local food businesses."

      .row
        %h3.year 2014

      = yield_content :event,
        position: :left,
        vertical_offset: 0,
        title: "Location Independent Team",
        month: "March",
        image: "2014-location-independent",
        description: "Bucky Box transitions to a location independent workforce. With customers worldwide, it seemed a fitting match. Our first international work retreat is in Bali. Productivity and creative inspiration make large leaps forward."

      = yield_content :event,
        position: :right,
        vertical_offset: -6,
        title: "Open Source",
        month: "June",
        image: "2014-opensource",
        description: "In alignment with the ethos of local food and a bigger vision for the future of food, Bucky Box announces a move towards open-source software for future iterations of our software."

      = yield_content :event,
        position: :left,
        vertical_offset: -6,
        title: "Multi-Language Support",
        month: "August",
        image: "2014-multi-language",
        description: "As the Bucky Box system expands into more countries, demand grows for multi-language support. The web store is the first to go multi-lingual with French, Italian and Portuguese."

      .row
        %h3.year 2015

      = yield_content :event,
        position: :right,
        vertical_offset: 0,
        title: "The First Open-Source Release",
        month: "March",
        image: "2015-webstore-opensource",
        description: "A rewritten Bucky Box web store is made publicly available on GitHub under the GPL license. This marks the company's first open-source release."

      = yield_content :event,
        position: :left,
        vertical_offset: -6,
        title: "Bucky Box Global Directory",
        month: "November",
        image: "2015-webstore-directory",
        description: "The first iteration of the Bucky Box consumer portal is released, essentially a simple map of Bucky Box powered web stores to help consumers find local food in their area."

      .row.hidden-xs.hidden-sm
        %h3.year 2016

