---
title: Pricing and Plans for NZ, Australia, UK, Europe and the World
---

.container.text-center
  .row
    .col-md-6.col-md-offset-3
      %h3 Hosting Plans

  .row.text-center
    .col-md-12
      Bucky Box is #{link_to "open-source software", "http://blog.buckybox.com/2017/07/bucky-box-is-now-open-source-come-to-us-for-hosting-and-support/"}, we charge for hosting only.
      Technical support is not included.

#pricing.container
  .row.text-center.voffset
    .col-sm-4
    .col-xs-12.col-sm-4.col-sm-4-offset-4
      .dropdown
        %a{id: "pricing-selector", "data-target": "#", "data-toggle": "dropdown", role: "button", "aria-haspopup": true, "aria-expanded": false}
          %span.caret
          %span.selected-label Global Pricing (USD)
        %ul.dropdown-menu{id: "pricing-dropdown", "aria-labelledby": "pricing-selector", style: "right: 0"}
          :ruby
            regions = {
              "gbp": "United Kingdom",
              "nzd": "New Zealand",
              "aud": "Australia",
              "cad": "Canada",
              "eur": "Europe",
              "usd": "Rest of the world",
            }

          - regions.each do |currency, region|
            %li.text-center{"data-currency": currency}
              = link_to "javascript:void(0)" do
                %span.pull-right= currency.upcase
                %span.pull-left= image_tag "pricing/flag-#{currency}.png", height: 16, alt: ""
                %span= region
                %span.description.hidden= "#{region} (#{currency.upcase})"

  #pricing-plans.row.text-center.voffset
    .col-sm-6
      .panel.panel-default.casual
        .panel-heading
          %h2 Casual
        .panel-body
          .vcenter
            %h2 1.5%
            %strong
              per delivery, capped at
              %span.currency.usd $0.40
              %span.currency.nzd $0.55
              %span.currency.aud $0.55
              %span.currency.cad $0.55
              %span.currency.eur €0.35
              %span.currency.gbp 25p
        .panel-footer
          best for small or seasonal schemes

    .col-sm-6.col-sm-6-offset-6
      .panel.panel-default.standard
        .panel-heading
          %h2 Standard
        .panel-body
          .vcenter
            %h2
              %span.currency.usd $45
              %span.currency.nzd $65
              %span.currency.aud $65
              %span.currency.cad $65
              %span.currency.eur €40
              %span.currency.gbp £35
            %strong monthly
            %h2{style: "margin: 0.2em"} +
            %h2 0.5%
            %strong
              per delivery, capped at
              %span.currency.usd $0.20
              %span.currency.nzd $0.30
              %span.currency.aud $0.30
              %span.currency.cad $0.30
              %span.currency.eur €0.20
              %span.currency.gbp 15p
        .panel-footer
          best for most operations

  .row.voffset.text-center
    .col-md-12
      %a.btn.btn-lg.btn-primary.sign_up{href: "javascript:void(0)", role: "button"} Create an Account

  .row.text-center
    .col-md-12
      Your first 21 days are free

.container
  .row.voffset
    .col-sm-6.col-xs-12.voffset
      %h5 What exactly does my hosting plan cover?
      Bucky Box is open-source software which anyone with the right skills can install and run on a web application server.
      For convenience, we are hosting the software so it's a turn-key experience for you.
      We've designed the pricing plans to cover the server charges and maintenance.
      We might update the software periodically.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 What if I need technical support?
      Bucky Box is no longer providing support directly.
      All our code is open-source, you may hire a developer to set up your own instance of the software.
      We do not anticipate many support issues as the software is very stable and has been running for years.
      Please note that the payments importing may need technical support if the transaction export format changes (e.g. from PayPal, Internet banking or GoCardless).

  .row.voffset
    .col-sm-6.col-xs-12.voffset
      %h5 How do I select my plan?
      We'll do this for you.
      We'll automatically charge you according to the plan which works out the least expensive for you after your trial period.
      You remain free to switch to another plan at any time.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 How does the delivery fee work?
      You pay a small fee per box delivered.
      This fee is calculated as a small percentage of the delivery or the capped value, whichever is smaller.

  .row
    .col-sm-6.col-xs-12.voffset
      %h5 How do I pay?
      Our system sends out a PayPal invoice each month which can be paid by credit card.
      New Zealand based businesses will be invoiced via Xero.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 Other languages?
      The web store, customer dashboard and emails are available in English, Dutch, French, German, Italian and Portuguese.
      We welcome
      = link_to "translations", "https://www.transifex.com/projects/p/buckybox-webstore/"
      into other languages by the community.
