---
title: Pricing and Plans for NZ, Australia, UK, Europe and the World
---

.container.text-center
  .row
    .col-md-12
      %h3 One-time charge per customer in your database

      You pay for every new transactional customer in your database, <strong>the first 10 are free</strong>.
      %br
      A transactional customer is an account which has at least one delivery payment.

  #pricing.row.voffset
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-6.col-xs-offset-3
      #pricing-toggle.row
        %ul.nav.nav-pills.nav-justified
          %li.active{"data-option" => "prepay100"}= link_to "Prepay x100 pack", "#"
          %li{"data-option" => "prepay25"}= link_to "Prepay x25 pack", "#"
          %li{"data-option" => "payg"}= link_to "Pay as you go", "#"

    .clearfix

    .col-md-10.col-md-offset-1
      #pricing-options.row.voffset
        .col-sm-1

        - content_for :region do |params|
          .col-xs-6.col-sm-2.col-sm-offset-0.region{class: ('col-xs-offset-3' if params[:center])}
            %p
              = image_tag "pricing-#{params.fetch(:currency).downcase}.png"
            %p
              %small #{params.fetch(:country)}
              - params.fetch(:prices).each do |option, price|
                %h3.price{class: option} #{price}
              #{params.fetch(:currency)}

        = yield_content :region, country: "United Kingdom", currency: "GBP",
          prices: {prepay100: "£2.29", prepay25: "£2.99", payg: "£3.49"}
        = yield_content :region, country: "Australia", currency: "AUD",
          prices: {prepay100: "$4.39", prepay25: "$5.69", payg: "$6.59"}
        = yield_content :region, country: "New Zealand", currency: "NZD",
          prices: {prepay100: "$4.69", prepay25: "$6.09", payg: "$6.99"}
        = yield_content :region, country: "Europe", currency: "EUR",
          prices: {prepay100: "€2.29", prepay25: "€2.99", payg: "€3.39"}
        = yield_content :region, country: "Rest of World", currency: "USD",
          prices: {prepay100: "$3.69", prepay25: "$4.79", payg: "$5.59"}, center: true

  .row.voffset
    .col-md-12
      %a.btn.btn-lg.btn-primary{href: "#", role: "button"} Sign Up for Free

  .row
    .col-md-12
      Your first 10 customers are free!

  .row.voffset-2
    .col-md-12
      %strong Need a custom solution?
      Ask us about our #{link_to "bespoke development services", "/bespoke.html"}.
