---
title: Pricing and Plans for NZ, Australia, UK, Europe and the World
---

#pricing.container
  .row.text-center
    .col-sm-3.col-md-4
    .col-xs-12.col-sm-6.col-sm-6-offset-3.col-md-4.col-md-4-offset-4
      .dropdown
        %a{id: "pricing-selector", "data-target": "#", "data-toggle": "dropdown", role: "button", "aria-haspopup": true, "aria-expanded": false}
          %span.caret
          United Kingdom Pricing (GBP)
        %ul.dropdown-menu{"aria-labelledby": "pricing-selector", style: "right: 0"}
          - {"United Kingdom" => "GBP", "New Zealand" => "NZD", "Europe" => "EUR", "Rest of the world" => "USD"}.each do |region, currency|
            %li.text-center
              = link_to "javascript:void(0)" do
                = image_tag "pricing-#{currency.downcase}.png", height: 20
                = "#{region} (#{currency})"

  .row.text-center.voffset
    .col-sm-4
      .panel.panel-default.casual
        .panel-heading
          %h3 Casual
        .panel-body
          .vcenter
            %h3 2%
            per delivery, capped at £0.25
        .panel-footer
          best for small or seasonal schemes

    .col-sm-4.col-sm-4-offet-4
      .panel.panel-default.standard
        .panel-heading
          %h3 Standard
        .panel-body
          .vcenter
            %h3 £30
            monthly
            %h3 +
            %h3 0.5%
            per delivery, capped at £0.15
        .panel-footer
          best for most operations

    .col-sm-4.col-sm-4-offet-8
      .panel.panel-default.unlimited
        .panel-heading
          %h3 Unlimited
        .panel-body
          .vcenter
            %h3 £175
            monthly
        .panel-footer
          best for large operations

    -# .clearfix

  .row.voffset.text-center
    .col-md-12
      %a.btn.btn-lg.btn-primary.sign_up{href: "javascript:void(0)", role: "button"} Create an Account

  .row.text-center
    .col-md-12
      Your first 21 days are free

.container
  .row.voffset
    .col-sm-6.col-xs-12.voffset
      %h5 How do I select my plan?
      We'll do this for you.
      We'll automatically charge you according to the plan which works out the least expensive for you each month.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 How does the delivery fee on the Casual and Standard plans work?
      You pay a small fee per box delivered.
      This fee is calculated as a small percentage of the delivery or the capped value, whichever is smaller.

  .row
    .col-sm-6.col-xs-12.voffset
      %h5 How do I pay?
      Our system sends out a PayPal invoice each month which can be paid by credit card.
      We will migrate onto credit card or direct debit in the near future depending on your location.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 Is the Unlimited plan truly unlimited?
      Yes, on the Unlimited plan you are charged a flat rate for unlimited use, regardless of the number of deliveries you make each month.

  .row
    .col-sm-6.col-xs-12.voffset
      %h5 Other languages?
      The web store, customer dashboard and emails are available in English, French, Italian and Portuguese,
      we welcome
      = link_to "translations", "https://www.transifex.com/projects/p/buckybox-webstore/"
      into other languages by the community.

    .col-sm-6.col-sm-6-offset-6.col-xs-12.voffset
      %h5 Need a custom solution?
      Ask us about our #{link_to "bespoke development services", "/bespoke.html"}.

