---
title: Meet the Bucky Box Team
category: about
---

.container.text-center
  = partial "about_nav_bar"

  .row.voffset
    .col-md-8.col-md-offset-2
      %h3 Our team is made of some of the best designers, engineers, and thinkers with a passion for good food and good technology.

  #team.row.voffset
    - content_for :member do |params|
      .member.col-xs-12.col-sm-6.text-left.voffset
        .row
          .text.col-md-12
            .photo.pull-right.hidden-sm.hidden-xs
              .social-icons
                - if params[:github]
                  = link_to "https://github.com/#{params[:github]}", target: "_blank" do
                    %span.social.white.github
                - if params[:twitter]
                  = link_to "https://twitter.com/#{params[:twitter]}", target: "_blank" do
                    %span.social.white.twitter
                - if params[:linked_in]
                  = link_to "https://#{params[:linked_in]}", target: "_blank" do
                    %span.social.white.linked_in
              = image_tag "team-#{params.fetch(:name).split.first.parameterize}.jpg"
            .photo.visible-sm.visible-xs.pull-right
              = image_tag "team-#{params.fetch(:name).split.first.parameterize}.jpg", class: "img-responsive"
            .title.text-muted
              = params.fetch(:title)
            .name
              %strong= params.fetch(:name)
            .bio= params.fetch(:bio)

    = yield_content :member, name: "Will Lau", title: "CEO &middot; DESIGN &middot; JANITOR", bio: 'Founder and <s>woolly</s> multiple hat wearer, <a href="http://nz.linkedin.com/in/willdlau" target="_blank">Will</a> kickstarted the Bucky Box project after time spent founding a box scheme for a local food movement. Will likes all things beginning with S... <a href="http://danger.co.nz" target="_blank">Surf, Sail, Startups, and Social Enterprise</a>.', twitter: "dangermouse117", linked_in: "nz.linkedin.com/in/willdlau"

    = yield_content :member, name: "Carlos Chambers", title: "BUSINESS DEVELOPMENT &middot; HUSTLE", bio: 'Big problems are big opportunities to hungry Carlos. Ex-farm and orchard boy turned corporate lawyer, turned Bucky Box hustler, he\'s worked in the commercial, startup business, social enterprise and NGO sectors. He eats solutions for breaky, lunch and dinner. Nom nom nom.', twitter: "CarlosChambers1", linked_in: "www.linkedin.com/in/carloschambers1"

    = yield_content :member, name: "Kate Beecroft", title: "COMMUNICATIONS &middot; HUSTLE", bio: 'With a life-long romance with food, Kate holds a Masters in sustainable agriculture governance. She\'s done biz dev for a high growth fair trade food company and has founded her own artisan food startup. Outside of the food biz, Kate loves to cook, eat, and watch reruns of <a href="https://www.youtube.com/user/webteamrivercottage" target="_blank">River Cottage</a>... well you get the picture.', twitter: "kbeecroft", linked_in: "www.linkedin.com/pub/kate-beecroft/55/209/a3a"

    = yield_content :member, name: "Cédric Félizard", title: "CTO &middot; ENGINEERING", bio: 'Joining Bucky from the land of wine and cheese, Cédric loves crafting zeros and ones when he\'s not skiing in his native French Alps. He brings to Bucky a wealth of prior startup experience as well as the odd baguette.', github: "infertux", twitter: "infertux"

    = yield_content :member, name: "Duncan Matheson", title: "COMMUNICATIONS &middot; SOCIAL MEDIA", bio: 'Full-time writer, Duncan wields his pen as a sword on our quest for a better food future. When he isn\'t crafting content for our communications team, you might find him tempting fate on a variety of wheeled danger-machines (including an off-road <a href="https://vimeo.com/89776584" target="_blank">unicycle</a>).', twitter: "DuncMath", linked_in: "nz.linkedin.com/in/duncmath"

    = yield_content :member, name: "Samson Ootoovak", title: "CODE MONKEY &middot; ENGINEERING", bio: 'Birthed deep inside the Arctic Circle comes “The Ootoowak”. Samson plays lead developer and alongside fixing what\'s broke (like our food system), Sam has a background in robotics (and we think cybernetics, if his binary-encoded DNA tatoo is anything to go by).', github: "ootoovak", twitter: "ootoovak", linked_in: "www.linkedin.com/in/ootoovak"

    = yield_content :member, name: "Silvia Zuur", title: "IDEALS &middot; COMMUNITY", bio: 'International globetrotter, connector and researcher, Silvia\'s been tasked to start up our ideals team, asking the big questions like “Why do tree trunks spiral?”. With a foodie love affair from garden to table, Silvia has a secret fetish for making lists.', twitter: "SilviaZuur", linked_in: "nz.linkedin.com/in/silviazuur"

    = yield_content :member, name: "Jordan Carter", title: "DEV HEAD &middot; ENGINEERING", bio: 'Mountain man and controller of <a href="http://www.youtube.com/watch?v=7Ockt4fUF9k" target="_blank">small flying things</a>, Jordan plays Data Wrangler, keeping our systems disciplined and teaching them new tricks. Programming since conception, we suspect his native tongue is code.', github: "jordandcarter", twitter: "JordanDCarter", linked_in: "www.linkedin.com/in/jordandcarter"

    = yield_content :member, name: "Joshua Vial", title: "ANIMAL &middot; GOVERNANCE", bio: '<a href="http://www.joshuavial.com/" target="_blank">Joshua</a>, founder of <a href="http://www.enspiral.com/" target="_blank">Enspiral</a>, is hands on with Bucky governance. Programmer by training and change-maker by vocation, when he\'s not casting his reality distortion field for a brighter future, Josh goes wild on taiko drums like <a href="http://en.wikipedia.org/wiki/Animal_(Muppet)" target="_blank">Animal Muppet</a>.', twitter: "joshualvial", linked_in: "nz.linkedin.com/in/joshuavial"

    = yield_content :member, name: "Anthony Cabraal", title: "DRUMMER &middot; HUSTLE", bio: 'With ancestry from the fabled island of <a href="https://en.wikipedia.org/wiki/Sri_Lanka" target="_blank">Serendib</a>, Ants is a prolific <a href="https://en.wikipedia.org/wiki/Borg_(Star_Trek)">borger</a> and part-time drummer. With his background in creative agencies, Ants fills the seat of ‘ideamonger’ and adds marketing know-how to the Bucky way.', linked_in: "nz.linkedin.com/in/anthonycabraal"

  .row.voffset-2
    Excited by what we do?
    = mail_to "hello@buckybox.com?subject=How%20can%20I%20help%3F", "Have coffee with us!"

