---
title: Meet the Bucky Box Team
category: about
---

.container.text-center
  = partial "about_nav_bar"

  .row.voffset
    .col-md-8.col-md-offset-2
      %h3 Building a new paradigm requires great people working together in powerful ways.

  .row.voffset
    .col-md-8.col-md-offset-2
      We're a small team of experienced technologists and creative thinkers who believe through working smart, we can positively impact the food system. As of 2014, our team has tranisitioned from a physical office to collaborating digitally from the corners of the globe that make the most sense, both personally and professionally. Our customers are global, and so are we.

  .row.voffset
    .col-md-8.col-md-offset-2
      Excited by what we do? Collaborate with us on <a href="https://github.com/buckybox" target="_blank">GitHub</a>, let's see where it leads.

  #team.row.voffset
    - content_for :member do |params|
      .member.col-xs-12.col-sm-6.text-left.voffset
        .row
          .text.col-md-12
            .photo.pull-right.hidden-sm.hidden-xs
              .social-icons
                - if params[:github]
                  = link_to "https://github.com/#{params[:github]}", target: "_blank" do
                    %span.social.white.github
                - if params[:twitter]
                  = link_to "https://twitter.com/#{params[:twitter]}", target: "_blank" do
                    %span.social.white.twitter
                - if params[:linked_in]
                  = link_to "https://#{params[:linked_in]}", target: "_blank" do
                    %span.social.white.linked_in
              = image_tag "team-#{params.fetch(:name).split.first.parameterize}.jpg"
            .photo.visible-sm.visible-xs.pull-right
              = image_tag "team-#{params.fetch(:name).split.first.parameterize}.jpg", class: "img-responsive"
            .title.text-muted
              = params.fetch(:title)
            .name
              %strong= params.fetch(:name)
            .bio= params.fetch(:bio)

    = yield_content :member, name: "Will Lau", title: "CO-FOUNDER &middot; CEO &middot; JANITOR", bio: "Geek, Engineer, Designer, Investor and <s>woolly</s> multiple hat wearer, <a href=\"http://nz.linkedin.com/in/willdlau\" target=\"_blank\">Will</a> accidentally started Bucky Box after helping friends bootstrap a grassroots food hub. An experienced entrepreneur, Will loves all things beginning with S... <a href=\"http://danger.co.nz\" target=\"_blank\">Surf, Sail, Startups, and Social Enterprise</a>.", twitter: "dangermouse117", linked_in: "nz.linkedin.com/in/willdlau"

    = yield_content :member, name: "Cédric Félizard", title: "CO-FOUNDER &middot; CTO &middot; NOMAD", bio: "Co-founding Bucky from the land of wine and cheese, Cédric loves crafting zeros and ones while nomading any country that's interesting between the Antipodes and Timbuktu. He brings to Bucky a wealth of prior startup experience as well as the odd baguette.", github: "infertux", twitter: "infertux", linked_in: "www.linkedin.com/in/cedricfelizard"

    = yield_content :member, name: "Carlos Chambers", title: "BOARD &middot; ADVISOR &middot; HUSTLE", bio: "Big problems are big opportunities to hungry Carlos. Ex-farm and orchard boy turned corporate lawyer, turned environmental advocate, turned Startup CEO, he's worked in the commercial, tech startup, and NGO sectors. He eats solutions for breakie, lunch and dinner. Nom nom nom.", twitter: "CarlosChambers1", linked_in: "www.linkedin.com/in/carloschambers1"

    = yield_content :member, name: "Samson Ootoovak", title: "CODE MONKEY &middot; ENGINEERING", bio: "Birthed deep inside the Arctic Circle comes “The Ootoowak”. Samson wrote large parts of our original platform and plays backup engineering and to keep our systems running 24/7. Alongside fixing what's broke (like our food system), Sam has a background in robotics.", github: "https://github.com/ootoovak", twitter: "ootoovak", linked_in: "https://www.linkedin.com/in/ootoovak"

    = yield_content :member, name: "Anthony Cabraal", title: "ADVISOR &middot; INVESTOR &middot; DRUMMER", bio: "With ancestry from the fabled island of <a href=\"https://en.wikipedia.org/wiki/Sri_Lanka\" target=\"_blank\">Serendib</a>, Ants is a prolific <a href=\"https://en.wikipedia.org/wiki/Borg_(Star_Trek)\">borger</a> and part-time drummer. With his background in creative agencies, Ants fills the seat of talent scout and adds marketing know-how to the Bucky way.", linked_in: "nz.linkedin.com/in/anthonycabraal"

    = yield_content :member, name: "Joshua Vial", title: "BOARD &middot; INVESTOR &middot; CULT-LEADER", bio: "<a href=\"http://www.joshuavial.com/\" target=\"_blank\">JV</a>, founder of <a href=\"http://www.enspiral.com/\" target=\"_blank\">Enspiral</a>, completed a 6 month tour of duty building Bucky Box in her formative first year and now sits on the board. Programmer by training and change-maker by vocation, when he's not casting his reality distortion field for a brighter future, Josh goes wild on taiko drums like <a href=\"http://en.wikipedia.org/wiki/Animal_(Muppet)\" target=\"_blank\">Animal Muppet</a>.", twitter: "joshualvial", linked_in: "nz.linkedin.com/in/joshuavial"

